body {
  background-image: url('/Imagenes/fondo1.jpg');
  background-size: cover; 
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Mantiene el fondo fijo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
body::before {
  content: ""; /* Necesario para que el pseudo-elemento se muestre */
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}

.container {
  position: relative; 
  z-index: 2;
}
.logo-4vv {
  width: 5rem;
  height: 5rem;
}

.espacio-abajo {
  margin-bottom: 50px;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}

.field {
  margin-bottom: 1.5rem;
}

.negrita {
  font-weight: bold;
}

.textarea {
  min-height: 120px;
}

.date-container {
  position: relative;
  display: inline-block;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10px; 
  cursor: pointer;
}

.icono-dimension {
  width: 50px; 
  height: 50px;
}

.icono-detalle {
  width: 50px;
  height: 28.5px;
}

i {
  padding: 5px;
}

i:hover {
  color: rgba(0, 0, 0, 0.5);
}

.social-icon {
  margin: 0 10px;
}

.social-icon-img {
  width: 30px;
  height: auto;
  transition: transform 0.3s;
}

.social-icon-img:hover {
  transform: scale(1.1);
}

img {
  width: max-content; 
  height: 270px; 
  object-fit: cover; 
}

footer a {
  text-decoration: none; 
  color: inherit;
}

footer {
  position: relative;
  z-index: 2;
}